.reseña {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

h4 {
  font-size: 1.1rem;
}

.reseña h2 {
  text-align: left;
  margin-bottom: 12px;
  font-size: 1.5em;
  text-decoration: underline black;
}

.reseña h3 {
  text-align: justify;
  color: #ffff;
  border: 2px solid #3b2f1b;
  background-color: rgba(55, 46, 24, 0.75);
  padding: 12px 15px;
  border-radius: 6px;
  width: 100%;
  margin: 15px 0;
  font-size: 1em;
  box-sizing: border-box;
}

@media screen and (min-width: 481px) {
  .reseña { max-width: 600px; margin: 0 auto; padding: 0 20px; }
  .reseña h2 { margin-bottom: 15px; font-size: 1.8em; }
  h4 { font-size: 1.3rem; }
}

@media screen and (min-width: 768px) {
  .reseña { max-width: 960px; }
  .reseña h2 { margin-bottom: 20px; font-size: 2em; }
  .reseña h3 { padding: 15px 20px; margin: 20px auto; font-size: 1.1em; }
  h4 { font-size: 1.60rem; }
}

@media screen and (min-width: 1025px) {
  .reseña { max-width: 1200px; }
  .reseña h3 { background-color: rgba(55, 46, 24, 0.607); }
  h4 { font-size: 1.80rem; }
}